<div id="<%= dom_id friend %>">
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th><strong>First name:</strong></th>
        <th><strong>Last name:</strong></th>
        <th><strong>Email:</strong></th>
        <th><strong>Phone:</strong></th>
        <th><strong>Twitter:</strong></th>
        <th><strong>User Id:</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= friend.twitter %></td>
      </tr>
    </tbody>
  </table>

</div>
